<nav class="nav-menu">
    <div class="theme-switch"><button class="theme-toggle"><svg><use href="../../sources/svgs/sprite.svg#light-mode"></use></svg></button></div>
    <div class="menu-container">
        <ul class="menu-options">
            <li><a href="#home" data-i18n="header.home" class="nav-item nav-item-1" id="nav-home">Inicio</a></li>
            <li><a href="#about-me" data-i18n="header.about-me" class="nav-item nav-item-2" id="nav-about-me">Sobre mi</a></li>
            <li><a href="#skills" data-i18n="header.skills" class="nav-item nav-item-3" id="nav-skills">Aptitudes</a></li>
            <li><a href="#education" data-i18n="header.education" class="nav-item nav-item-4" id="nav-education">Formación</a></li>
            <li><a href="#experience" data-i18n="header.experience" class="nav-item nav-item-5" id="nav-experience">Experiencia</a></li>
            <li><a href="#footer" data-i18n="header.contact" class="nav-item nav-item-6" id="nav-contact">Contacto</a></li>
        </ul>
    </div>
    <div class="lang-dropdown">
        <button class="lang-selected" id="langSelected" type="button" aria-haspopup="listbox" aria-expanded="false">
            <span data-i18n="header.language" class="language">Español</span>
            <span class="arrow" aria-hidden="true"></span>
        </button>
        <ul class="lang-options" role="listbox" hidden></ul>
    </div>
</nav>