@import url("dark-theme/index.css");
@import url("light-theme/index.css");
@import url("responsive/index.css");
@import url("utils/index.css");

:root {
    --font-general: "Google Sans", "Open Sans", "Google Sans Flex", system-ui;
    --font-code: "Google Sans Code", "Source Code Pro", monospace;
    --light: #ffffff;
}

html[lang="zh"] {
    --font-general: "Noto Sans SC", "Google Sans", "Open Sans", "Google Sans Flex", system-ui;
}

html[lang="ja"] {
    --font-general: "Noto Sans JP", "Google Sans", "Open Sans", "Google Sans Flex", system-ui;
}

html[lang="ko"] {
    --font-general: "Noto Sans KR", "Google Sans", "Open Sans", "Google Sans Flex", system-ui;
}

html {
    scroll-behavior: smooth;
    width: 100%
}

h1 {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-general), sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
}

::selection {
    background-color: var(--black);
    color: var(--primary);
}

body {
    line-height: 1.6;
    background: var(--black) var(--background-image) center center / cover no-repeat fixed;
}