<div class="hero-container">
    <div class="hero-content">
        <h2 class="hero-h2" data-i18n="shared.projects">Projects</h2>
        <p class="hero-phrase" data-i18n="projects.hero.phrase">Discover all my projects, from applications and systems to experiments and personal developments.</p>
        <a type="button" class="hero-a" data-i18n="projects.hero.button" href="#projects">View projects</a>
    </div>
    <div id="robot-animation" data-component="projects/robot-animation" data-animation="./components/robot-animation/robot-animation.json" data-state="idle"></div>
</div>