<div class="hero-container">
    <div class="hero-content">
        <h2 class="hero-h2" data-i18n="hero.projects">Proyectos</h2>
        <p class="hero-phrase" data-i18n="hero.phrase">Visualiza todos los proyectos realizados</p>
        <button type="button" class="hero-button" data-i18n="hero.button">Ver proyectos</button>
    </div>
    <div id="robot-animation" data-component="projects/robot-animation" data-animation="./components/robot-animation/robot-animation.json" data-state="idle"></div>
</div>