<div class="hero-container">
    <div class="hero-content">
        <h2 class="hero-h2" data-i18n="hero.projects">Proyectos</h2>
        <p class="hero-phrase" data-i18n="hero.phrase">Descubre todos mis proyectos, desde aplicaciones y sistemas hasta experimentos y desarrollos personales.</p>
        <a type="button" class="hero-a" data-i18n="hero.a" href="#projects">Ver proyectos</a>
    </div>
    <div id="robot-animation" data-component="projects/robot-animation" data-animation="./components/robot-animation/robot-animation.json" data-state="idle"></div>
</div>