<menu class="bottom-nav-list">
    <li>
        <ul class="lang-options" role="listbox" hidden></ul>
        <a class="nav-item lang-toggle" aria-label="Change Language">
            <div class="hover"><svg class="icon"><use href="/sources/svgs/sprite.svg#language"></use></svg></div>
            <span data-i18n="menu.language">Idioma</span>
        </a>
    </li>
    <li>
        <a class="nav-item theme-toggle" aria-label="Theme Toggle">
            <div class="hover"><svg class="icon"><use href="/sources/svgs/sprite.svg#light-mode"></use></svg></div>
            <span data-i18n="menu.theme">Tema</span>
        </a>
    </li>
    <li>
        <a href="#home" class="nav-item">
            <div class="hover"><svg class="icon"><use href="/sources/svgs/sprite.svg#home"></use></svg></div>
            <span data-i18n="menu.home">Inicio</span>
        </a>
    </li>
    <li>
        <a href="./projects" class="nav-item" target="_blank" rel="noopener">
            <div class="hover"><svg class="icon"><use href="/sources/svgs/sprite.svg#code"></use></svg></div>
            <span data-i18n="menu.projects">Proyectos</span>
        </a>
    </li>
    <li>
        <a href="#footer" class="nav-item">
            <div class="hover"><svg class="icon"><use href="/sources/svgs/sprite.svg#contact"></use></svg></div>
            <span data-i18n="menu.contact">Contacto</span>
        </a>
    </li>
</menu>