#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    background: var(--primary);
    margin-top: 100px;
}

#footer .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10% 50px 10%;
    gap: 20px;
}

#footer #buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer #buttons li, #footer #buttons li a, #footer #buttons li a button {
    width: 100%;
}

#footer #info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#footer #info .icon {
    width: 30px;
    fill: var(--black);
}

#footer #info .list {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: 30px;
}

#footer #info .list .source {
    color: var(--black);
    font-weight: bold;

}

#footer h2 {
    font-size: 2em;
    margin: 50px auto 30px;
    text-align: center;
    padding: 10px 20px;
    background: var(--black);
    border-radius: 15px 0;
}

#footer #buttons button {
    outline: none;
    padding: 10px 20px;
    border-radius: 15px 0;
    transition: all 0.5s;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2em;
    border: 3px solid var(--dark);
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

#footer #buttons button:hover {
    transform: scale(1.10);
    filter: brightness(1.05) saturate(1.8);
    box-shadow: 0 20px 20px #000000DD;
}

#footer #buttons .projects {
    background: linear-gradient(90deg, #9900ff, #0800FFCC);
}

#footer #buttons .linkedin {
    background: linear-gradient(90deg, #136bc5, #139bc5);
}

#footer #buttons .github {
    background: linear-gradient(90deg, #212121, #151515);
}

#footer #buttons .email {
    background: linear-gradient(90deg, #ff8800, #f6db00);
}

#footer #buttons .phone {
    background: linear-gradient(90deg, #ff6a00, #f81c00);
}

#footer #buttons .whatsapp {
    background: linear-gradient(90deg, #25d366, #009a2c);
}

#footer #buttons .instagram {
    background: linear-gradient(90deg, #8f03f9, #fe0173, #ffb200);
}

#footer #buttons button svg {
    width: 20px;
    height: 20px;
    fill: var(--light);
    flex-shrink: 0;
}

#footer .copyright {
    background-color: var(--black);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer #info #localtime {
    color: var(--black);
    font-weight: bold;
    margin-left: -10px;
}

#footer #info .source:hover {
    color: var(--secondary);
}

#footer #stats .image-stats {
    position: relative;
    background: var(--black);
    border-radius: 30px 0;
}

#footer #stats .image-stats::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(255 255 255 / 0);
    border-radius: inherit;
    z-index: 1;
}