<div class="home-container">
    <div class="home-content">
        <p data-i18n="home.p1">Bienvenido,</p>
        <p><span data-i18n="home.p2">Soy</span> <span class="name"> Carlos Tormo</span>,</p>
        <p><span data-i18n="home.p3">Tu próximo </span><span id="roles" class="fade" data-i18n="home.word-animation">desarrollador</span></p>
        <div class="buttons">
            <a href="#about-me" class="about-me" data-i18n="home.a1">Sobre mí</a>
            <a href="./projects" class="projects" data-i18n="home.a2">Proyectos</a>
        </div>
    </div>
    <div class="profile-photo"><img src="sources/profile/profile-photo.png" alt="Carlos Tormo Castaño" loading="eager"></div>
</div>