<div class="home-container">
    <div class="home-content">
        <p data-i18n="portfolio.home.welcome">Bienvenido,</p>
        <p><span data-i18n="portfolio.home.iam">Soy</span> <span class="name"> Carlos Tormo</span>,</p>
        <p><span data-i18n="portfolio.home.yournext">Tu próximo </span><span id="roles" class="fade" data-i18n="portfolio.home.rol">desarrollador</span></p>
        <div class="buttons">
            <a href="#about-me" class="about-me" data-i18n="shared.about-me">Sobre mí</a>
            <a href="./projects" class="projects" data-i18n="shared.projects">Proyectos</a>
        </div>
    </div>
    <div class="profile-photo"><img src="sources/profile/profile-photo.png" alt="Carlos Tormo Castaño" loading="eager"></div>
</div>