#experience {
    background: var(--black);
    padding: 20px;
    position: relative;
    z-index: 1;
}

#experience .h2 {
    font-size: 2em;
    width: 1200px;
    margin: 50px auto -20px;
    padding-left: 30px;
    border-radius: 60px 0 0 0;
    font-weight: 600;
    height: 50px;
    border-width: 3px 3px 0 3px;
    border-color: var(--primary);
    border-style: solid;
    background: var(--primary);
    box-shadow: 0 5px 10px rgb(0 5 7 / 0.47);
    position: relative;
    z-index: 1;
    display: flex;
}

#experience h2 {
    font-size: 1em;
}

#experience .h2 * {
    color: var(--black);
}

#experience #jobs {
    justify-content: center;
    margin: 20px auto 60px;
    width: 1200px;
    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-color: var(--primary);
    border-radius: 0 0 60px 0;
    box-shadow: 0 5px 10px rgb(0 5 7 / 0.63);
    background: var(--gray);
}

#experience .experience {
    display: flex;
    flex-direction: column;
}

#experience .experience .info {
    display: flex;
    background: var(--gray);
    justify-content: space-between;
    margin: 0 10px;
}

#experience .experience .data {
    display: flex;
    gap: 10px;
}

#experience .experience .info .title {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

#experience .experience .data .list {
    list-style: none;
    padding: 10px;
}

#experience .experience .data .list .content .icon {
    width: 30px;
    height: 30px;
    fill: var(--light);
}

#experience .experience .data .list .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#experience .experience .description {
    display: flex;
    flex-direction: row-reverse;
    background: var(--dark);
}

#experience .experience .description .skills {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}

#experience .experience .description .phrases {
    width: 75%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

#experience .experience .h3 {
    font-size: 1.7rem;
    font-weight: bold;
}

#experience .experience .h4 {
    font-size: 1.3rem;
}

#experience .experience .description .skills .skill {
    padding: 2px 10px;
    border-radius: 10px 0;
    font-weight: bold;
}

#experience .experience:last-child .description {
    border-radius: 0 0 58px 0;
}

#experience .experience .info .logo {
    justify-self: center;
    align-self: center;
}

#experience .experience .info .logo .icon {
    justify-self: center;
    align-self: center;
    width: 220px;
}

#experience .info .data .list .content a:hover {
    color: var(--primary);
}