#about-me {
    background: var(--black);
    padding: 20px;
    position: relative;
    z-index: 1;
}

#about-me .h2 {
    font-size: 2em;
    width: min(100% - 2rem, 1200px);
    margin: 50px auto -20px;
    padding-left: 30px;
    border-radius: 60px 0 0 0;
    color: var(--black);
    font-weight: 600;
    height: 50px;
    border-width: 3px 3px 0 3px;
    border-color: var(--primary);
    border-style: solid;
    background: var(--primary);
    box-shadow: 0 5px 10px rgb(0 5 7 / 0.44);
    position: relative;
    z-index: 1;
    display: flex;
}

#about-me h2 {
    font-size: 1em;
}

#about-me .h2 * {
    color: var(--black);
}

#about-me #phrases {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 30px;
    justify-content: center;
    margin: 20px auto 60px;
    width: min(100% - 2rem, 1200px);
    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-color: var(--primary);
    padding: 50px;
    border-radius: 0 0 60px 0;
    background: var(--dark);
    box-shadow: 5px 5px 20px rgb(0 9 10 / 0.56);
}

#about-me #phrases .phrase {
    width: 350px;
    min-height: 150px;
    background: var(--gray);
    box-shadow: 8px 8px 20px rgb(0 0 0 / 0.44), -4px -4px 15px rgb(0 0 0 / 0);
    border-radius: 25px 0;
    border: 3px solid var(--gray);
    padding: 15px;
    transition: var(--transition);
    margin: auto;
}

#about-me #phrases .phrase.hovered, #about-me #phrases .phrase:hover {
    transform: translateY(-10px) scale(1.03);
    border-radius: 25px 0 25px 0;
    border-color: var(--primary);
    background: var(--primary);
    color: var(--black);
    font-weight: bold;
}

#about-me #phrases .phrase:nth-child(1) {
    animation-delay: 0s;
}

#about-me #phrases .phrase:nth-child(2) {
    animation-delay: 3.6s;
}

#about-me #phrases .phrase:nth-child(3) {
    animation-delay: 7.2s;
}

#about-me #phrases .phrase:nth-child(4) {
    animation-delay: 10.8s;
}

#about-me #phrases .phrase:nth-child(5) {
    animation-delay: 14.4s;
}

@keyframes hoverEffect {
    0%, 18%, 100% {
        transform: translateY(0) scale(1);
        box-shadow: 8px 8px 20px #000000B2, -4px -4px 15px #00000000;
        border-radius: 25px 10px 25px 10px;
        border-color: #00E1FF00;
        background: linear-gradient(145deg, #0e0e0e, #181818);
    }
    1.33%, 17.33% {
        transform: translateY(-10px) scale(1.03);
        box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.85), -8px -8px 20px rgba(0, 150, 255, 0.25);
        border-radius: 25px 5px 25px 5px;
        border-color: #2cc8dd;
        border-left: 3px solid #2cc8dd;
        border-top: 3px solid #2cc8dd;
        background: linear-gradient(145deg, #0a0a0a, #181818);
    }
}

@media (max-width: 1280px) {
    #about-me #phrases {
        grid-template-columns: repeat(2, 350px);
    }
}

@media (max-width: 900px) {
    #about-me #phrases {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 625px) {
    #about-me .h2 {
        font-size: 1.5rem;
        align-items: flex-end;
    }
}

@media (max-width: 525px) {
    #about-me #phrases {
        padding: 20px;
        gap: 20px;
    }

    #about-me #phrases .phrase {
        margin: 0 auto;
        width: 100%;
    }

    #about-me .h2 {
        font-size: 1.2rem;
        align-items: center;
    }
}