@font-face {
    font-family: 'Google Sans';
    src: url('../../sources/fonts/GoogleSans.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans Code';
    src: url('../../sources/fonts/GoogleSansCode.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans Flex';
    src: url('../../sources/fonts/GoogleSansFlex.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('../../sources/fonts/NotoSansJP.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../../sources/fonts/NotoSansKR.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans TC';
    src: url('../../sources/fonts/NotoSansTC.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../sources/fonts/OpenSans.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../../sources/fonts/SourceCodePro.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}