<div class="contact">
    <div id="info"></div>
    <div id="social"></div>
    <div id="stats">
        <h2 data-i18n="stats.h2">Estadísticas</h2>
        <div class="image-stats">
            <img src="https://github-readme-stats-sigma-five.vercel.app/api/top-langs/?username=CarlostcDev&layout=compact&bg_color=00000000&title_color=58A6FF&text_color=C9D1D9&hide_border=true&width=100%"
                 width="100%" class="image-stats" loading="lazy" alt="Carlos Tormo - Developer Stats">
        </div>
    </div>
</div>
<div class="copyright">
    <p>&copy; &nbsp;</p><p id="year"></p><p>&nbsp;CarlostcDev&nbsp;&middot;&nbsp;</p><p data-i18n="footer.copyright">Todos los derechos no reservados.</p>
</div>