#about-me {
    background: linear-gradient(90deg, rgba(0, 166, 153, 0.07), rgba(0, 52, 152, 0.06));
    box-shadow: 0 -4px 6px #030303B5, 0 4px 6px #0C0C0CA0, 0 5px 20px #070707;;
    padding: 20px;
    width: 100%;
}

#about-me h2 {
    font-size: 2.5em;
    border-bottom: 3px solid #00bbff;
    margin: 50px 170px 50px 170px;
    text-align: center;
}

#about-me #phrases {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 30px;
    justify-content: center;
    margin: 20px 0 60px 0;
}

#about-me #phrases .phrase {
    width: 350px;
    height: 150px;
    background: linear-gradient(145deg, #0e0e0e, #181818);
    box-shadow: 8px 8px 20px #000000B2, -4px -4px 15px #00000000;
    border-radius: 25px 0;
    border: 3px solid #00E1FF00;
    padding: 15px;
    transition: all 0.5s;
}

#about-me #phrases .phrase.hovered, #about-me #phrases .phrase:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.85), -8px -8px 20px rgba(0, 150, 255, 0.25);
    border-radius: 25px 0 25px 0;
    border-color: rgba(0, 225, 255, 0.8);
    border-left: 3px solid #00e1ff;
    border-top: 3px solid #00bbff;
    background: linear-gradient(145deg, #0a0a0a, #181818);
}

#about-me #phrases .phrase:nth-child(1) {
    animation-delay: 0s;
}

#about-me #phrases .phrase:nth-child(2) {
    animation-delay: 3.6s;
}

#about-me #phrases .phrase:nth-child(3) {
    animation-delay: 7.2s;
}

#about-me #phrases .phrase:nth-child(4) {
    animation-delay: 10.8s;
}

#about-me #phrases .phrase:nth-child(5) {
    animation-delay: 14.4s;
}

@keyframes hoverEffect {
    0%, 18%, 100% {
        transform: translateY(0) scale(1);
        box-shadow: 8px 8px 20px #000000B2, -4px -4px 15px #00000000;
        border-radius: 25px 10px 25px 10px;
        border-color: #00E1FF00;
        background: linear-gradient(145deg, #0e0e0e, #181818);
    }
    1.33%, 17.33% {
        transform: translateY(-10px) scale(1.03);
        box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.85), -8px -8px 20px rgba(0, 150, 255, 0.25);
        border-radius: 25px 5px 25px 5px;
        border-color: #00E1FFCC;
        border-left: 3px solid #00e1ff;
        border-top: 3px solid #00bbff;
        background: linear-gradient(145deg, #0a0a0a, #181818);
    }
}

@media (max-width: 1200px) {
    #about-me #phrases {
        grid-template-columns: repeat(2, 350px);
    }
}

@media (max-width: 800px) {
    #about-me #phrases {
        grid-template-columns: 1fr;
    }
}