@media (max-width: 820px) {
    a:hover, button:hover, li:hover, p:hover {
        transform: none !important;
    }

    .menu-container {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #0E0E0EFF;
        width: 220px;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
        box-shadow: 2px 2px 6px #000000C6;
    }

    .menu-container.active {
        transform: translateX(0);
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }

    nav ul {
        flex-direction: column;
        gap: 0;
    }

    nav ul li a {
        display: block;
        padding: 15px;
    }

    #menu {
        display: flex;
        margin-right: auto;
    }

    .theme-switch, .lang-dropdown {
        margin-left: 15px;
    }

    /* ----- home ----- */
    #home .home-container {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        margin: 0 40px;
        height: 70%;
        max-width: 500px;
        min-width: 430px;
    }

    #home .home-container .profile-photo {
        margin: 50px auto 20px;
    }

    #home .home-container .profile-photo:hover {
        transform: none;
    }

    #home .home-content {
        width: 64%;
        text-align: left;
        margin: 0;
    }

    #home .home-content a {
        margin: 20px auto 60px;
    }

    #home .home-content button:hover {
        border: 3px solid #00bbff;
        background-color: #05070a;
    }

    /* ----- Sobre mí ----- */
    #about-me h2 {
        width: 90%;
        margin: 0;
        min-width: 500px;
    }

    #about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    #about-me h2 {
        width: 90%;
        margin: 20px;
        text-align: center;
    }

    #about-me #phrases {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        justify-items: center;
    }

    #about-me #phrases .phrase {
        width: 100%;
        max-width: 350px;
        min-width: 350px;
    }

    #about-me #phrases .phrase.hovered, #about-me #phrases .phrase:hover {
        background: linear-gradient(145deg, #0e0e0e, #181818);
        box-shadow: 8px 8px 20px #000000B2, -4px -4px 15px #00000000;
        border: 3px solid #00E1FF00;
        transform: none !important;
    }

    #about-me #phrases .phrase:nth-child(1) {
        box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.85), -8px -8px 20px rgba(0, 51, 255, 0.25);
        border-radius: 25px 0 25px 0;
        border-color: rgba(0, 128, 255, 0.8);
        border-left: 3px solid #0077ff;
        border-top: 3px solid #00bbff;
        background: linear-gradient(145deg, #0a0a0a, #181818);
    }

    #about-me #phrases .phrase:nth-child(2) {
        box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.85), -8px -8px 20px rgba(0, 89, 255, 0.25);
        border-radius: 25px 0 25px 0;
        border-color: rgba(0, 178, 255, 0.8);
        border-left: 3px solid #0095ff;
        border-top: 3px solid #00bbff;
        background: linear-gradient(145deg, #0a0a0a, #181818);
    }

    #about-me #phrases .phrase:nth-child(3) {
        box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.85), -8px -8px 20px rgba(0, 119, 255, 0.25);
        border-radius: 25px 0 25px 0;
        border-color: rgba(0, 208, 255, 0.8);
        border-left: 3px solid #00c4ff;
        border-top: 3px solid #00bbff;
        background: linear-gradient(145deg, #0a0a0a, #181818);
    }

    #about-me #phrases .phrase:nth-child(4) {
        box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.85), -8px -8px 20px rgba(0, 150, 255, 0.25);
        border-radius: 25px 0 25px 0;
        border-color: rgba(0, 225, 255, 0.8);
        border-left: 3px solid #00e1ff;
        border-top: 3px solid #00bbff;
        background: linear-gradient(145deg, #0a0a0a, #181818);
    }

    #about-me #phrases .phrase:nth-child(5) {
        box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.85), -8px -8px 20px rgba(0, 178, 255, 0.25);
        border-radius: 25px 0 25px 0;
        border-color: rgba(0, 178, 255, 0.8);
        border-left: 3px solid #00ffff;
        border-top: 3px solid #00bbff;
        background: linear-gradient(145deg, #0a0a0a, #181818);
    }

    #about-me #phrases .phrase:nth-child(6) {
        box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.85), -8px -8px 20px rgba(0, 217, 255, 0.25);
        border-radius: 25px 0 25px 0;
        border-color: rgba(0, 217, 255, 0.8);
        border-left: 3px solid #00ffea;
        border-top: 3px solid #00bbff;
        background: linear-gradient(145deg, #0a0a0a, #181818);
    }

    /* ----- Aptitudes ----- */
    #skills h2 {
        width: 90%;
        margin: 30px 0;
        min-width: 500px;
    }

    #skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    #skills > div {
        flex-direction: column;
        align-items: center;
    }

    #skills .aptitudes {
        max-width: 500px;
        min-width: 485px;
    }

    #skills .aptitudes li:hover {
        background-color: #131313EA;
        box-shadow: inset 1px 5px 12px #000000A8;
    }

    /* ----- Formación ----- */
    #formacion .educacion, #formacion .cursos {
        margin: 0 10px;
    }

    #formacion h3 {
        margin: 0 0 10px;
    }

    #formacion .edu, #formacion .course {
        margin: 30px 20px !important;
        min-width: 500px;
        border: 3px solid #131313;
    }

    #formacion .edu.activo, #formacion .course.activo {
        background-color: #0a0a0a;
        border: 3px solid #00bbff;
        transform: none !important;
    }

    #formacion .course img {
        box-shadow: 5px 5px #0085a6;
    }

    #formacion .cursos {
        margin-top: 100px;
    }

    /* ----- Experiencia ----- */
    #experiencia h2 {
        width: 90%;
        margin: 0;
        min-width: 500px;
    }

    #experiencia .exp {
        margin: 40px 0 20px;
        max-width: 500px;
        min-width: 485px;
    }

    #experiencia .strong span {
        font-size: 0.8em;
    }

    #experiencia .parrafo {
        font-size: 0.9em;
    }

    /* ----- footer ----- */
    #footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    #footer h2 {
        width: 90%;
        margin: 0 0 30px 0;
        min-width: 500px;
    }

    #footer .copyright {
        width: 100%;
    }
}