#skills {
    width: min(100% - 2rem, 1200px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: start;
    gap: 30px;
    margin: 30px auto;
}

#skills .details {
    width: 100%;
}

#skills .summary {
    font-size: 1.7rem;
    color: var(--dark);
    list-style: none;
    font-weight: bold;
    width: 100%;
    padding: 10px 10px 10px 20px;
    background: var(--primary);
    border-radius: 30px 0;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

#skills .summary:hover {
    background: var(--dark);
    color: var(--primary);
}

#skills .details .content {
    list-style: none;
    background: var(--transparent);
    border: 3px solid var(--primary);
    padding: 20px;
    border-radius: 0 0 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    transition: all 0.3s;
}

#skills .details .content .details-skill {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20rem;
}

#skills .details .content .details-skill:nth-child(odd) {
    background: var(--dark);
    color: var(--light);
}

#skills .details .content .details-skill:nth-child(even) {
    background: var(--gray);
    color: var(--light);
}

#skills .details[open] .summary {
    border-radius: 30px 0 0 0;
}

#skills .summary:hover + .content {
    border-color: var(--dark);
}

#skills .details:nth-child(even) .summary {
    background: var(--gray);
    color: var(--light);
}

#skills .details:nth-child(even) .content {
    border-color: var(--gray);
}

#skills .details:nth-child(even) .summary:hover {
    background: var(--dark);
    color: var(--primary);
}

#skills .details:nth-child(even) .summary:hover + .content {
    border-color: var(--dark);
}

@media (max-width: 820px) {
    #skills {
        grid-template-columns: 1fr;
    }
}