:root.maroon-theme {
    --primary: #fcaffe;
    --secondary: #6a2d71;
    --gray: #332837;
    --dark: #1f1a22;
    --black: #0e060d;
    --background-image: url("../../../sources/backgrounds/hero/background-hero-maroon.webp");
}